<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalin Popescu - Senior DevOps Engineer </title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    
  </head>
  <body>
    <!-- Mouse Circle -->
    <div class="mouse-circle"></div>
    <div class="mouse-dot"></div>
    <!-- End of Mouse Circle -->

    <!-- Page Container -->
    <div class="container">
      <!-- Page BG -->
      <div class="page-bg"></div>
      <!-- End of Page BG -->

      <!-- Progress Bar -->
      <a href="#" class="progress-bar center sticky">
        <div class="half-circle"></div>
        <div class="half-circle"></div>
        <div class="half-circle-top"></div>
        <div class="progress-bar-circle center">&#8595;</div>
      </a>
      <!-- End of Progress Bar -->

      <!-- Navigation -->
      <!-- Menu Icon -->
      <div class="menu-icon center sticky">
        <div class="menu-icon-line"></div>
        <div class="menu-icon-line"></div>
      </div>
      <!-- End of Menu Icon -->

      <!-- Navbar -->
      <nav class="navbar">
        <span class="material-icons md-light orange600 md-24">home</span>
        <a href="#section-1" class="navbar-link pointer-enter pointer-enter">Home</a>
        <span class="material-icons md-light orange600 md-24">perm_identity</span>
        
        <a href="#section-2" class="navbar-link pointer-enter">About Me</a>
        
        <span class="material-icons md-light orange600 md-24">design_services</span>
        <a href="#section-4" class="navbar-link pointer-enter">Services</a>
        <span class="material-icons md-light orange600 md-24">email</span>
        <a href="#section-5" class="navbar-link pointer-enter">Contact</a>
      </nav>
      <!-- End of Navbar -->
      <!-- End of Navigation -->

      <!-- Section 1 -->
      <section class="section-1 center" id="section-1">
        <!-- Logo -->
        <a href="#" class="logo orange600">Digital Cloud Services</a>
        <!-- End of Logo -->

        <!-- Animated Circles -->
        <div class="circles">
          <div class="circle circle-1"></div>
          <div class="circle circle-2"></div>
          <div class="circle circle-3"></div>
          <div class="circle circle-4"></div>
        </div>
        <div class="main-circle center">
          <img src="images/landing/designer.jpg" />
        </div>
        <!-- End of Animated Circles -->

        <!-- Featured Text -->
        <h4 class="featured-text featured-text-1 orange600">DevOps</h4>
        <h4 class="featured-text featured-text-2 orange600">Engineer</h4>
        <!-- End of Featured Text -->

        <!-- Main Button -->
        {{!-- <a href="#" class="main-btn">
          <div class="main-btn-content center">
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <span>Projects</span>
          </div>
        </a> --}}
        <!-- End of Main Button -->
      </section>
      <!-- End of Section 1 -->
      <br>
      <br>
      <br>
      <!-- Section 2 -->
      <section class="section-2" id="section-2">
        <!-- Section 2 Heading -->
        <h1 class="section-heading orange600  ">About Me</h1>
        <!-- End of Section 2 Heading -->

        <!-- About Me Text -->
        <div class="aboutme services-wrapper center">
          <div class="aboutme-text">
            <h1>I am Senior Devops Engineer</h1>
          </div>
          <div class="aboutme-details">
            <p>Extensive experience of 10 years in leading the effort to architect, design and build DevOps solutions
               acting as the primary point of contact and 20 years of Linux systems administration .</p>
               <br>
            <p>Skilled in building, developing, and managing a high-performing infrastructure and DevOps team to meet the needs of a rapidly growing and changing business in an even more rapidly changing technology landscape
Adept in designing and implementing build, deployment, and configuration management; implementing test designs; building and testing automation tools for infrastructure provisioning</p>   
            <br>
            <p>Instrumental in leading and executing an effort to integration DevOps on the services that are using cloud platforms; implementing continuous improvement ideas/projects, optimizing the DevOps function
Up-to-date on latest industry trends; able to articulate trends and potential clearly and confidently ; good interpersonal skills and communication with all levels of management</p>
          </div>
          <div class="profile">
            
            </div>
            <form action="view_myresume" method="get" >
                
            <button id="fcf-button" type="submit" class="form-submit-btn pointer-enter" >View my Resume
                  </button>
                      
            </form>
            <br>
        </div>
        
       <!-- <p class="about-me-text orange600"></p>
        <!-- End of About Me Text -->

        <!-- Main Button -->
        <a href="#section-5" class="main-btn">
          <div class="main-btn-content center">
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <span>Let's Talk</span>
          </div>
        </a>
        <!-- End of Main Button -->
      </section>
      <!-- End of Section 2 -->

      <!-- Section 3 -->
     <!-- <section class="section-3" id="section-3">
        <!-- Section 3 Heading -->
       <!-- <h1 class="section-heading">My Work</h1>
        <!-- End of Section 3 Heading -->

        <!-- Projects -->
      <!--  <div class="projects center">
          <div class="project pointer-enter">
            <img src="images/projects/project-1.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-2.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-3.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-4.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-5.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-6.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-7.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-8.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-9.jpg" />
          </div>
          <div class="project pointer-enter">
            <img src="images/projects/project-10.jpg" />
          </div>
        </div>
        <!-- Project Hide Button -->
       <!-- <button class="project-hide-btn">&laquo;Close</button> -->
        <!-- End of Project Hide Button -->
        <!-- End of Projects -->

        <!-- Projects Button -->
       <!-- <a href="#" class="main-btn projects-btn">
          <div class="main-btn-content center">
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <div class="main-btn-line"></div>
            <span>Show More</span>
          </div>
        </a>
        <!-- End of Projects Button -->
      
      <!-- End of Section 3 -->

      <!-- Section 4 -->
      <section class="section-4" id="section-4">
        <!-- Section 4 Heading -->
        <h1 class="section-heading">Services </h1>
        <!-- End of Section 4 Heading -->
<br>
<br>
<br>
        <!-- Services -->
        <div class="services-wrapper center">
          <div class="service orange600">
            <a href="#" class="service-btn pointer-enter orange600"><span class="orange600">Cloud Computing</span></a>
            
            
                
                  <p class="service-text"> AWS - Cloud Formation , VPC , EC2 , LOAD BALANCERS , RDS , SERVERLESS , S3 , ECS , EKS ...
                  <br> GCP - K8S , Docker , VM'S <br>
                       Azure - Active Directory , Azure Devops , Kubernets (AKS) <br>
                       </p>
                
            </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>Config Management </span></a
            >
            <p class="service-text">
              Ansible <br>
              Salt <br>
              Puppet
            </p>
          </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>Iaac Infrastructure as Code</span></a
            >
            <p class="service-text">
              Terraform , Cloudformation , Consul <br>
              
            </p>
          </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>Monitoring</span></a
            >
            <p class="service-text">
              Prometheus , Grafana , ElasticSearch , Cloudwatch ....
            </p>
          </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>CI/CD</span></a
            >
            <p class="service-text">Jenkins , Gitlab ....</p>
          </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>Software development </span></a
            >
            <p class="service-text">Backend - Python , Golang , Nodejs <br>
            Frontend - React , Vanilajs , Html , CSS <br>
            </p>
          </div>
          <div class="service">
            <a href="#" class="service-btn pointer-enter"
              ><span>OS </span></a
            >
            <p class="service-text">Linux , Windows , Unix , Solaris <br>
            Scripting - Bash , Python , Golang <br>
            </p>
          </div>

          

        </div>
        <!-- End of Services -->
      </section>

      <br>
      <br>
      <br>
      <!-- End of Section 4 -->

      <!-- Section 5 -->
      <section class="section-5 center" id="section-5">
        <!-- Section 5 Heading -->
        <h1 class="section-heading orange600">Contact Me</h1>
        <!-- End of Section 5 Heading -->

        <!-- Form -->
       
        <div class="form-wrapper">
          <h2 class="form-heading">Let's Talk</h2>
          <div id="fcf-form">
              <form id="contact" class="contact-form center" method="post" action="send" >

                  <div class="fcf-field">
                      
                      <div class="fcf-control">
                        
                          <input type="text" placeholder="Name" name="Name" id="Name" class="contact-form-input pointer-enter" maxlength="60"
                              data-validate-field="Name" >
                              
                      </div>
                  </div>
                  <div class="fcf-field">
                      
                      <div class="fcf-control">
                          <input type="email" placeholder="Email" name="Email" id="Email" class="contact-form-input pointer-enter" maxlength="100"
                              data-validate-field="Email" >
                              
                      </div>
                  </div>
                  <div class="fcf-field">
                      
                      <div class="fcf-control">
                          <input type="text" placeholder="Phone (Optional)" name="Phone" id="Phone" class="contact-form-input pointer-enter" maxlength="30"
                              data-validate-field="Phone">
                      </div>
                  </div>
                  <div class="fcf-field">
                      
                      <div class="fcf-control">
                          <textarea name="Message" placeholder="Message" id="Message" class="contact-form-input contact-form-textarea pointer-enter" maxlength="3000" rows="5"
                              data-validate-field="Message" ></textarea>
                              
                      </div>
                      <br>
                  </div>
                  <div class="fcf-field">
                    <div class="g-recaptcha" data-sitekey="6LeOxdsdAAAAAIU11v8Qhy4M54XZaG0lnnUuBR4d"></div>
                  <br>
                   
                  </div>
                  <div id="fcf-status" class="fcf-status"></div>
                  <div class="fcf-field">
                      <div class="fcf-buttons">
                          <button id="fcf-button" type="submit" class="form-submit-btn pointer-enter">Send
                              Message</button>
                      </div>
                  </div>
                  <!-- You MUST retain the attribution below -->
                <!--  <div class="fcf-attribution">Contact Form by <a href="https://www.freecontactform.com/"
                          class="fcf-attribution-link">FreeContactForm</a></div>-->
              </form>
          </div>
          <div id="fcf-thank-you" style="display:none">
              <!-- Thank you message goes below -->
              <p>Thanks for contacting us, we will get back in touch with you soon.</p>
              <!-- Thank you message goes above -->
          </div>
      </div>
        <!-- End of Form -->

        <!-- Slideshow -->
        <div class="slideshow">
          <a href="https://www.linkedin.com/in/cpopescudevops/" class="slideshow-link">
            <img src="images/social-icons/linkedin.png" />
          </a>
          <a href="#" class="slideshow-link">
            <img src="images/social-icons/email.png" />
          </a>
          <a href="https://www.instagram.com/catalinp69/" class="slideshow-link light">
            <img src="images/social-icons/instagram.png" />
          </a>
          <a href="https://github.com/devopsguru2020" class="slideshow-link">
            <img src="images/social-icons/github.png" />
          </a>
          <a href="https://twitter.com/worldoflinux" class="slideshow-link">
            <img src="images/social-icons/twiteer.png" />
          </a>
        </div>
        <!-- End of Slideshow -->
      </section>
      <!-- End of Section 5 -->
    </div>
    <!-- End of Page Container -->
    {{!-- <script>
      {{!-- document.getElementById('contact').addEventListener('submit',e => {
        e.preventDefault();

        const Name = document.querySelector('#Name').value;
        const Email = document.querySelector('#Email').value;
        const Phone = document.querySelector('#Phone').value;
        const Message = document.querySelector('#Message').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;
        location.href="localhost:3000/thankyou";
        return fetch('/send', {
          method: 'POST',
          headers: {'Content-type': 'application/json'},
          body: JSON.stringify({Name,Email,Phone,Message,captcha})
        })
        .then(res => res.json())
        .then(data => {
          console.log(data);
          alert(data.msg);
          if (data.success) return location.href();
        });

      }); --}}


    </script> --}}

    <script >
      $(document).ready(function (){



$('#contact').validate({

    rules: {
        Name: {
            required: true,
            minlenght: 5,
        },
        Email: {
            required: true,
            email: true,
        },
        Message: {
            required: true,
            minlenght: 10,
        }
    },


    messages: {
        Name: {
            required: "Please enter your Name",
        },
        Email: {
            required: "Please enter email address",
            email: "Please enter a valid email address",
        },
        Message: {
            required: "Please enter your message"
        },
    },
});
});

    </script>
    <script src="fcf-assets/js/lang/fcf.en.js"></script>
    <script src="fcf-assets/js/fcf.just-validate.min.js"></script>
    <script src="fcf-assets/js/fcf.form.js"></script>
    <script src="script.js"></script>
    
  </body>
</html>
